{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Enterprise University</title>
  <link rel="stylesheet" type="text/css" href="{% static 'polls/css/foundation.css' %}" />
</head>
<body>
    <div class="row">

        <div class="medium-6 medium-centered large-4 large-centered columns">
        <h5 align="center">Enterprise University</h5>
        
            <div class="callout">
                <form method="post" action="/accounts/login/">
                    <div class="row">
                        <div class="small-12 columns">
                            {% csrf_token %}
                            <label>login:
                                <input type="text" name="username"/>
                            </label>
                        </div>
                        <div class="small-12 columns">
                            <label>senha:
                                <input type="password" name="password"/>
                            </label>
                            <input class="button" type="submit" value="Logar"/>
                        </div>
                    </div>
                    {% if form.errors %}
                    <label>Acesso Negado!</label>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>


</body>
</html>